html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y:hidden;
}

body{
    background-color: #F2F2F2;
}

a{
    text-decoration: none;
}

input[type=checkbox]{
    display: none;
}

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    border:7px solid grey;
    border-radius: 5px;
}

::-webkit-scrollbar-track-piece{
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background: rgb(55, 55, 55);
    border-radius: 5px;
    opacity: 20%;
}






#Header{
    height: 4%;
    width: 100%;
    background: linear-gradient(-90deg, rgba(27,194,250,1) 42%, rgba(27,100,250,1) 100%);
    padding-top: .5%;
    padding-bottom: .5%;
    z-index: 10;
    min-height: 35px;
    padding-left: 0%;
    margin-bottom: 0%;
}

#Logo{
    margin: 0%;
    margin-left: 2.5%;
    margin-right: 10%;
    padding: 0%;
    color: rgb(255, 255, 255);
    text-shadow:2px 2px 3.5px black;
    font-size: 1.75em;
    font-weight: bold;
    text-align:left;
    font-style: italic;
    float: left;
    margin-top: .25%;
}


#Links{
    
    margin-top: .5%;
    width: 50%;
    float: left;
    font-size: 1.5em;

}

#Links > a{
    margin: 0%;
    margin-right: 11.5%;
    color: white;
    float: right;
    font-weight: bold;
}

#Links > a > p{
    margin: 0%;
    padding: 0%;
}

#ProfileImage{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    float:right;
    margin: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}

#ProfileImage:hover{
    transform: scale(1.125);
}

@keyframes ObjShow {
    from {opacity: 0%;}
    to{opacity: 100%;}
}


#HeaderBox{
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 10%;
    position: fixed;
    left: 84.9%;
    top: 5%;
    display: none;
    padding-top:1%;
    box-shadow: 0px 0px 5px black;
}

#HeaderBox:hover{
    display: block;
    z-index: 1;
    animation: header-box-disappear 3s;
}

#HeaderBox:hover::after{
    display: block;
    z-index: 1;
    animation: header-box-disappear 3s;
}

@keyframes header-box-disappear {
    0% { opacity: 100%;
        display: block;
        z-index: 1;}
    20% {opacity: 80%;}
    40% {opacity: 60%;}
    60% {opacity: 40%;}
    80% {opacity: 20%;}
    100% {opacity: 0%;
        display: none;    
    }
}

#ProfileImage:hover ~ #HeaderBox{
    display: block;
    animation: ObjShow .75s;
}

#Main{
    height: 92.5%;
    width: 99.8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1%;
}

#content{
    margin-top: 15%;
}
#LoginBox{
    font-size: 3rem;
    display: flex;
  justify-content: center;
  margin: auto;
  min-width: 20%;
  min-height: 28%;
  
}

input:focus {outline:none!important;}

.LoginField{
    width: 95%;
    height: 10%;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to left, rgba(27,194,250,1) 42%, rgba(27,100,250,1) 100%);
    background-color: rgb(255, 255, 255);
    opacity: 60%;
    margin-top: 1%;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: .5em;

}

#box{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid white;
    box-shadow: 0px 0px 10px gray;
    padding: 5%;
    border-radius: .125em;
    padding-right: 10%;
}

input:hover,
input:focus{
    transform:scale(1.025);
}

#Login:hover,
#Login:focus{
    transform:scale(1.05);
    background-color: rgb(27,194,250,1);
    opacity: 80%;
}


#Login{
    display: flex;
    float: right;
    font: .5em sans-serif;
    margin-top: 6%;
    border-radius: .25em;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    padding: 2%;
}

#create-account-btn:hover,
#create-account-btn:focus{
    transform:scale(1.05);
    background-color: rgb(27,194,250,1);
    opacity: 80%;
}

#create-account-btn{
    display: flex;
    float: left;
    font: .4em sans-serif;
    margin-top: 7%;
    border-radius: .25em;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    padding: 2%;
}

#Create{
    position: absolute;
    text-decoration: none;
    display: flex;
    float: left;
    font: .5em sans-serif;
    color: rgb(101, 4, 165);
    
}

#bottomNav{
    background-image: linear-gradient(to left, rgba(27,194,250,1) 42%, rgba(27,100,250,1) 100%);
    margin: 0em;
    width: 100%;
    padding-top: .5%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
}


#Fields{
    height: 95%;
    width: 50%;
}

#ProfileInfo{
    box-shadow: 0px 0px 2px black;
    border-radius: .25em;
    background-color: #FFFFFF;
    padding: .1%;
    display: flex;
    flex-direction: column;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-bottom: 5%;
    
}

#ProfileInfo > hr{
    width: 100%;
}

#ProfileInfo > p{
    float: left;
    width: 50%;
    margin-left: 5%;
    
}

#FieldTitle{
    float: left;
    font-size: 36px;
    font-weight: 1400;
    margin-bottom: -5px;
}
#FieldEdit{
    align-self: center;    
}


#TaskTable > table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 1em;
}

#Ttable > th{
    background-color: blueviolet;
}


#Logout{
    border: none;
    background-color: white;
    font-size: 1em;
    color: gray;
    float: right;
    margin-right: 27.5%;
}

#Logout:hover,
#Logout:focus{
    background-color: whitesmoke;
}

#ProfileImageCard{
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 35%;
    height: 35%;
    margin-left: 35%;
    margin-top: 10%;
    margin-bottom: 2.5%;
    float: left;
}

#SettingsImage{
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 30%;
    height: 60%;
    float: left;
}

#AccountDetails{
    font-size: 13px;
    margin-top: 1%;
    margin-bottom: 5%;
    float: right;
    margin-right: 30%;

}

#UsernameDetails{
    font-size: 16px;
    font-weight: 600;
    margin: 0%;
    padding: 0%;
}

#settings{
    margin: 0%;
    padding: 0%;
}
.CategorySetting{
    font-size: 18px;
    font-weight: bold;
}


#AddReportBtn{
    margin-bottom: 2.5%;
    font-size: 24px;
    font-weight: 700;
}

#AddReportBtn > button{
    margin-left: 2.5%;
}

#AddReportForm{
    margin-top: 2.5%;
    position: absolute;
    height: 80%;
    width: 80%;
    background-color: #F2F2F2;
    border: 1px solid black;
    border-radius: .5%;
    z-index: 100;
    display: none;
    
}

#ExitFormBtn{
    font-size: 36px;
    font-weight: bold;
    float: right;
    margin:0;
    margin-right: .5%;
    padding: 0;
}

#ExitFormBtn:hover{
    opacity: 80%;
    transform: scale(1.25);
}


#main-container{
    width: 100%;
    height: 95%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left:0;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    
}

#create-form-container{
    margin: auto;
}
#upload{
    opacity: 0;
    z-index: -1;
    position: absolute;
}
#upload-txt{
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.folder-container{
    margin: auto;
    height: 300px;
    max-width: 300px;
}


label{
    width: 100%;
    height: 100%;
}
.folder::before {
    content: url(folder.png);
    object-fit: contain;
}

:checked + .folder::before{
    content: url(folder-checked.png);
    object-fit: contain;
}

.files::before {
    content: url(file.png);
    object-fit: contain;
}

:checked + .files::before{
    content: url(file-checked.png);
    object-fit: contain;
}

.container-tag{
    margin-top: 5%;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
}

#navbar{

    width: 100%;
    height: 5%;
    margin-top: 0;
    margin-bottom: 1%;
}
.button-container{
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 1px black;
    text-align: center;
}
.navbar-buttons{
    width: 20%;
    height: 100%;
    float: left;
    border: none;
    background: none;
    font-weight: 700;
    font-size: .7em;
}
label:hover{
    
    cursor: pointer;
}

.navbar-buttons:hover{
    
    cursor: pointer;
    background-color: rgb(237 235 233);
}


.new-creation{
    z-index: 20;
    width: 300px;
    height: 25%;
    background: rgb(237 235 233);
    box-shadow: 0px 0px 4px black;
    position: absolute;
    display: none;
    flex-direction: column;
    margin: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    
}

.new-creation-form{
    width: 80%;
    height: 15%;
    margin: auto;
}

.new-creation-input{
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    text-align: center;
    font-size: medium;
}
.creation-btn-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
}

.cancel-btn{
    margin-left: auto;
    margin-right: auto;
    float: left;
    font-size: medium;
}

.create-btn{
    margin-left: auto;
    margin-right: auto;
    float: right;
    font-size: medium;
}