<header id="Header">
    <a href={{url_for('Home')}}><p id="Logo">Wiedo</p></a>

    {% if 'username' in session: %}
        
        <img src={{ url_for('static', filename=session['username'] + '.jpg' ) }} id="ProfileImage">

    
    <div id="HeaderBox">
        
        <div id="AccountDetails">
            <p id="UsernameDetails">{{ name }}</p>
            <a id="settings" href="{{ url_for('settings') }}">Settings</a>
        </div>

        <a id="Logout" href="{{ url_for('logout') }}">Sign out</a>
        
    </div>
    {% endif %}
</header>
<main id="Main">

