<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="description" content="Wiedo">
        <title>Wiedo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    </head>
    
    <script>
        window.addEventListener("DOMContentLoaded", function() {
            var containers = document.getElementsByClassName("folder-container")
            containers.addEventListener('contextmenu', function(ev){
                ev.preventDefault()
                alert('success')
                return false;
            }, false);
        }, false);


        function validateAndUpload(input){
            var file = input.files[0];

            if (file) {
                alert('files are uploading')
                document.getElementById("main-container").submit();
            };
        };


        function FolderCreationDisplay(){    
            var container = document.getElementsByClassName('new-creation')[0]
            if (container.style.display == 'none'){
                container.style.display = 'flex';
            } else {
                container.style.display = 'none';
            }
            
        };
    </script>

    <body>

        {% include 'header.html' %}
        
        <div id="navbar">
            <div class="button-container">
                
                <button class='navbar-buttons' value='new' name='action' onclick="FolderCreationDisplay();">NEW</button>
                <label for="upload" class='navbar-buttons' id='upload-txt'><p>UPLOAD</p></label>    
                <input  class='navbar-buttons' form="main-container" type ="file" id='upload' formaction="upload" onChange="validateAndUpload(this);" name='files'/>

                <button type='submit' class='navbar-buttons' form="main-container" value='view' name='action' formaction ='view' >VIEW</button>
                <button type='submit' class='navbar-buttons' form="main-container" value='download' name='action' formmethod="POST" formaction="download">DOWNLOAD</button>
                <button class='navbar-buttons' form="main-container" value='delete' formaction="delete" name='action'>DELETE</button>
            </div>
        </div>

            <form id="main-container" method="POST" action="upload" enctype="multipart/form-data">
                {% for folder in folders %}
                    <div class="folder-container" >
                        <p class="container-tag">{{folder}}</p>
                        <input type="checkbox" name='content' id={{folder}} value="{{folder}}"/>
                        <label for={{folder}} class="folder">
                            <img class="label-img" src=""/>
                        </label>
                    </div>
                {% endfor %}
                {% for file in files %}
                    <div class="folder-container">
                        <p class="container-tag">{{file}}</p>
                        <input type="checkbox" name='content' id={{file}} value="{{file}}" />
                        <label for={{file}} class="files">
                            <img class="label-img" src=""/>
                        </label>
                    </div>
                {% endfor %}
            </form>
        
            <div class="new-creation" style="display: none;">
                
                    <h2 class="new-creation-title">Folder Name</h2>    
                
                    <form class="new-creation-form" id="new-folder-form" action="new" method="post">    
                        <input type="text" class="new-creation-input" name="folder-name" /> </br>
                    </form>
                    
                    <div class="creation-btn-container">
                        <button class="cancel-btn" onclick="FolderCreationDisplay();">Cancel</button>
                        <button class="create-btn" form="new-folder-form">Create</button>
                    </div>
                
            </div>

        {% include 'footer.html' %}

    </body>
</html>