<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Task Scheduler Cretor for Reports">
        <title>Task Scheduler Connect</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    </head>

    <body>
        
        {% include 'header.html' %}
        <div id="content">
            <div id="AddReportBtn">
                Create Report:<button onclick="getElementById('AddReportForm').style ='display:block; animation: ObjShow .75s;'">Add</button>
            </div>

            <table id="ReportsTable">
                <thead>
                    <tr>
                        <th>Report Name</th>
                        <th>Report Description</th>
                        <th>Report Type</th>
                    </tr>
                </thead>
                <tbody>
                {% for Report in Reports%}
                    <tr>
                        <td>{{ Report[1] }}</td>
                        <td>{{ Report[2] }}</td>
                        <td>{{ Report[3] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="AddReportForm">
            
            <div id="ExitFormBtn">X</div>
            
            <div id="MainReportForm">
                
                <form action = "AddTask" method="POST">
                        
                </form>

            </div>

        </div>

        {% include 'footer.html' %}
        
    </body>

</html>